@import "tailwindcss";

body {
  margin: 0;
  font-family: Inter, system-ui, sans-serif;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}